body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}
  
a:hover {
    text-decoration: underline;
}
  

li {
    list-style-type: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    text-transform: uppercase;
}

.content {
    padding: 40px 40px 0px;
    max-width: 1200px;
}

.nav-links {
    display: flex;
}

.nav-element {
    padding: 0px 10px;
    
}

.nav-element-active {
    font-weight: bold;
}

.header {
    height: 400px;
    display: flex;
    align-items: center;
    background-image: 
        linear-gradient(90deg, rgba(0,0,0,.7) 20%, rgba(255,255,255,0) 100%),
        url("https://images.unsplash.com/photo-1483808161634-29aa1b0e585e");
    background-position-x: center;
    background-position-y: 75%;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-info {
    max-width: 400px;
    margin-left: 10%;
    color: white;
}

.header-info p {
    margin-bottom: 24px;
}

.quizapp-link {
    color: black;
    background-color: #80deea;
    padding: 8px 16px;
    border-radius: 8px;
    font-weight: bold;
}

.section {
    display: flex;
    justify-content: center;
    text-align: center;
}

.section-title {
    /* text-align: center; */
    text-transform: uppercase;
    font-size: 2em;
}

.features {
    display: flex;
}

.feature {
    padding: 20px;
}

